<div id="header">
    <div>
        <div>
            <ul>
                <li>
                    <a href="#" routerLink="/xo">X O</a>
                </li>
                <li>
                    <a href="#" routerLink="/about">Biz haqimizda</a>
                </li>
            </ul>
            <a href="#" routerLink="/" id="logo"><img src="../../assets/images/logo.png" alt="Image"></a>
            <ul>
                <li>
                    <a href="#" routerLink="/contact">Murojaat</a>
                </li>
                <li>
                    <a href="#" routerLink="/cart-page">Savat</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <a href="#" routerLink="/" class="logo">Menu</a>
            </li>
        </ul>
    </div>
</div>
