<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Turin <span>Pirogi</span></h3>

    <p class="footer-links">
		<a href="#" routerLink="/" class="logo">Menu</a>

      <a href="#" routerLink="/about">Haqida</a>

      <a href="#" routerLink="/contact">Murojaat</a>
    </p>

    <p class="footer-company-name"><b>Turin Pirogi © 2023</b></p>
  </div>

  <div class="footer-center">
    <div class="contact-info">
      <div class="contact-item">
        <img src="assets/images/geo.jpg" alt="Address" />
        <p><span>17 Kichik Halqa Yo'li</span> Toshkent</p>
      </div>
      <div class="contact-item">
        <img src="assets/images/phone.jpg" alt="Phone" />
        <p>+998 91 692 60 18</p>
      </div>
      <div class="contact-item">
        <img
          class="envelope"
          src="assets/images/mail.jpg"
          alt="Email"
        />
        <p><a href="mailto:turinpirogi@gmail.com">turinpirogi@gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span><b>Biz haqimizda</b></span>
      Toshkentdagi eng zo'r desertlar makoni!
    </p>

    <div class="footer-icons">
      <div class="social-icons">
        <a href="https://t.me/turinpirogi" target="_blank">
          <img
            src="https://user-images.githubusercontent.com/49933115/139837223-bf23d3a9-4638-4e17-994a-ac8678d5f517.png"
            alt="Telegram icon"
          />
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=100090217934651&mibextid=ZbWKwL" target="_blank"
        >
          <img
            src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Facebook-512.png"
            alt="Facebook icon"
          />
        </a>
        <a href="https://youtube.com/@turinpirogi" target="_blank">
          <img
            src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Youtube-512.png"
            alt="YouTube icon"
          />
        </a>
        <a href="https://github.com/newcomegit" target="_blank">
          <img
            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
            alt="GitHub icon"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
