<div class="container">
  <div class="about">
    <div class="about-text">
      <h2>Do'konimiz Haqida</h2>
      <p>
        Turin Pirogi, pirog ixlosmandlari uchun ajoyib makonga xush kelibsiz!
        Bizning do'kon sizga eng yaxshi mahsulotlar orqali eng toza va eng
        shirin piroglar taqdim etish uchun tuzilgan. Mevalilardan tortib yangi
        piroglargacha ajdodlardan avlodlarga o'tib kelayotgan ananalarga mos
        tarzda tayyorlanadi!
      </p>
      <p>
        Manzilimiz: Toshkent shahri, Olmazor tumani, Kichik Halqa Yo'li
        ko'chasi, 17-uy. Sizni kutib qolamiz!
      </p>
      <h3>Go'yamiz</h3>
      <p>
        G'oyamiz pirog ixlosmandlari uchun borar manzilga aylanish.
        Biz mijozlarimizga ma'zali pirogdan ko'proq tassurot berish ishtiyoqidamiz.
        Xaridorlarimizga hayotdan zavqlanishlari uchun iliq va do'stona sharoit tuzmoqchimiz!
      </p>
      <h3>Maqsadimiz</h3>
      <p>
        Maqsadimiz mavjud bo'lishi mumkin bo'lgan eng yaxshi pirogni ulashish.
        Biz har bir pirog aniqlik va mehr asosida tayyorlangan san'at asari bo'lishi kerakligiga ishonamiz va shunga harakat qilamiz!  
      </p>
    </div>
    <div class="about-img">
      <img src="../../assets/images/pirog1.jpg" />
    </div>
  </div>
  <div class="quote">
    <p>"Piroglar hayotimizni shirinlashtiradi!"</p>
    <small>- Muhammad Xon </small>
  </div>
  <div class="pie-gallery">
    <div class="pie-img">
      <img src="../../assets/images/pirog2.jpg" />
      <p>Ma'zasi unutilmas!</p>
    </div>
    <div class="pie-img">
      <img src="../../assets/images/pirog3.jpg" />
      <p>Betakror tam!</p>
    </div>
  </div>
</div>
